.back_image {
  background-image: url("../img/banner1.jpg");
  object-fit: cover;
}

.search-container {
  color: white;
  text-align: center;
  padding: 2.5rem 0;

  &-main {
    padding-top: 2rem;
    text-align: center;

    form {
      width: 75%;
      margin: 0 auto;

      input {
        padding: 10px;
        line-height: 2.5rem;
        font-size: 1.6rem;
      }

      button {
        background: $secondary-color;
        padding: 10px;

        i {
          font-size: 20px;
          margin: 0 30px;
          color: white;
        }
      }
    }
  }
}
